* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1d1d;
}

#logout{
    color: #b59a5a;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 100px;
    cursor: pointer;
}