* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1d1d;
}

#registerForm{
    margin-top: 10px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#register{
    font-size: 34px;
    color: #b59a5a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    cursor: default;
    text-align: center;
}

.userpw{
    width: 300px;
    height: 35px;
    border: none;
    border-bottom: 1px solid #b59a5a;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    font-size: 18px;
    background-color: #1d1d1d;
    color: #b59a5a;
    margin-top: 8px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.5px;
    font-weight: bold;
}

#submitRegButton{
    position: relative;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;     
    width: 300px;
    height: 45px;
    background-color: #3a3c41;
    color: #b59a5a;
    font-family: 'Open Sans',arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    border: 1px solid #b59a5a;
    overflow: hidden;
    display: block;
    z-index: 0;
    transition: 400ms ease-out;
}

#submitRegButton::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 0;
    background: #b59a5a;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: -1;
    transition: all 400ms ease;
}

#submitRegButton:hover::before{
    height: 560%;
}

#submitRegButton:hover{
    border: 1px solid white;
    color: #3a3c41;
}

.errorText{
    color: #ff3d3d;
    display: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.6px;
    font-weight: bold;
    text-align: center;
}